dialog-box {
    display: block;
}

dialog-box .dialog-container {
    padding: 20px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.571));
}

dialog-box  .inner-container {
    margin: 10px 20px;
}

dialog-box .dialog-container.m {
    width: 1083px;
    height: 763px;
    background-image: url('../../content/dialog-paper-background.png');
}

dialog-box .dialog-container.s {
    width: 614px;
    height: 418px;
    background-image: url('../../content/dialog-paper-background-small.png');
}

/* Fixes rendering error for the built in dialog UI, which does not work with scrolling */
au-dialog-overlay {
    position: fixed !important;
}
au-dialog-container {
    position: fixed !important;
    z-index: 3;
}
