list {
    display: block;
    margin: 0 20px 20px 0;
    width: fit-content;
    float: left;
}

list > .container {
    margin: 0 25px 20px 20px;
}


list .list-entry {
    text-overflow: ellipsis;
}