list {
    display: block;
    margin: 30px;
    width: fit-content;
    float: left;
}

list > .container {
    margin: 0 25px 20px 20px;
}

list .add-item-input {
    margin-top: 15px;
    border-bottom-style: dashed;
}

list .list-entry {
    text-overflow: ellipsis;
}