primary-stat .container {
    width: 60px;
    height: 60px;
    cursor: grab;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

primary-stat .container.s {
    width: 45px;
    height: 45px;
    font-size: 13px;
}

primary-stat .container.xs {
    width: 36px;
    height: 36px;
    font-size: 10px;
}

primary-stat .container.primary {
    background-image: url('../../content/Stat box.png');
}

primary-stat .container.primary-angled {
    background-image: url('../../content/Stat box angled.png');
}

primary-stat .container.secondary {
    background-image: url('../../content/Simple stat box.png');
    width: 44px;
    height: 44px;
}
primary-stat .container.secondary.s {
    width: 33px;
    height: 33px;
}
primary-stat .container.secondary.xs {
    width: 24px;
    height: 24px;
}

primary-stat .container.secondary-angled {
    background-image: url('../../content/Simple stat box angled.png');
}

primary-stat .container.active {
    cursor: grabbing;
}

primary-stat .container .content {
    user-select: none;
}

primary-stat .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}