stat-box {
    display: inline-block;
}

stat-box .container.fade {
    opacity: 0.4;
}

stat-box .container {
    width: 60px;
    height: 60px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

stat-box .header {
    display: inline-block;
    text-align: center;
    width: 60px;
    font-size: 13px;
    color: #446;
    line-height: 120%;
}

stat-box > .container:not(.readonly) {
    cursor: grab;
}

stat-box .container.l {
    width: 90px;
    height: 90px;
    font-size: 30px;
}

stat-box .header.l {
    width: 90px;
    font-size: 15px;
}

stat-box .container.s {
    width: 45px;
    height: 45px;
    font-size: 13px;
}

stat-box .header.s {
    width: 45px;
    font-size: 10px;
}

stat-box .container.xs {
    width: 36px;
    height: 36px;
    font-size: 10px;
}

stat-box .header.xs {
    width: 36px;
    font-size: 10px;
}

stat-box .container.primary {
    background-image: url('../../content/Stat box.png');
}

stat-box .container.primary-angled {
    background-image: url('../../content/Stat box angled.png');
}

stat-box .container.secondary {
    background-image: url('../../content/Simple stat box.png');
    width: 44px;
    height: 44px;
}
stat-box .container.secondary.s {
    width: 33px;
    height: 33px;
}
stat-box .container.secondary.xs {
    width: 24px;
    height: 24px;
}

stat-box .header.secondary {
    width: 44px;
}
stat-box .header.secondary.s {
    width: 33px;
}
stat-box .header.secondary.xs {
    width: 24px;
}

stat-box .container.secondary-angled {
    background-image: url('../../content/Simple stat box angled.png');
}

stat-box .container.active {
    cursor: grabbing;
}

stat-box .container .content {
    user-select: none;
}

stat-box .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}