text-box.text-dialog-input textarea {
    height: 230px;
    width: 405px;
    padding: 7px;
}

text-box.text-dialog-input .container {
    margin: 0;
}

.dialog-container.m text-box.text-dialog-input textarea {
    height: 600px;
    width: 905px;
}