.message {
  background-color: red;
}

body {
  font-family: 'Eagle Lake', cursive;
  font-size: 20px;
  color: darkred;
  background-image:  url('../content/paper-texture.png');
  background-color: #FBF5EB;
}

.numbers {
  font-family: 'MedievalSharp', cursive;
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Eagle Lake', cursive;
font-family: 'Estonia', cursive;
font-family: 'Fleur De Leah', cursive;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'MedievalSharp', cursive;
*/

.monochrome {
  filter: grayscale(100%);
}


.box {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;

  border:solid 2px #cbc1ad;
  padding: 7px 7px 0 7px;
}