abilities-block {
    display: block;
    margin: 30px;
    width: fit-content;
    float: left;
}

abilities-block > .container {
    margin: 0 25px 20px 20px;
}

abilities-block .ability > * {
    display: inline-block;
}

abilities-block .ability .name {
    width: 200px;
}

abilities-block .ability.untrained .name {
    opacity: 0.3;
}

abilities-block .ability .specialisation {
    width: 150px;
    text-align: center;
}

abilities-block .ability.untrained .specialisation {
    opacity: 0;
}

abilities-block .add-item-input {
    margin-top: 15px;
    width: 200px;
    border-bottom-style: dashed;
}

abilities-block .puissant-label {
    width: 0;
}