ability-block {
    display: block;
    width: fit-content;
    color: #446;
    margin: 30px;
}

ability-block > .container {
    padding: 10px 30px;
}

ability-block input[type="text"] {
    text-align: center;
    width: 150px;
    color: #888;
}

ability-block primary-stat {
    display: inline-block;
}

ability-block .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
}

ability-block .grid > * {
    align-self: center;
}

ability-block .grid .text.left-col {
    justify-self: right;
}

ability-block .grid .text{
    justify-self: left;
    margin-left: 3px;
    margin-right: 3px;
}


ability-block .grid primary-stat {
    margin: 1px;
}

ability-block footer {
    margin-top: 5px;
}