abilities-block {
    display: block;
    margin: 0 20px 20px 0;
    width: 1534px;
    float: left;
}

abilities-block > .container {
    margin: 0 25px 20px 20px;
}

abilities-block .ability {
    display: inline-block;
}

abilities-block .puissant-label {
    display: inline-block;
    width: 40px;
}

abilities-block .ability > * {
    display: inline-block;
}

abilities-block .ability .name {
    width: 200px;
    text-overflow: ellipsis;
}

abilities-block .ability.untrained .name {
    opacity: 0.4;
    text-overflow: ellipsis;
}

abilities-block .ability .specialisation {
    width: 150px;
    text-align: center;
    text-overflow: ellipsis;
}

abilities-block .ability.untrained .specialisation {
    opacity: 0;
}

abilities-block .add-item-input-field {
    width: 200px;
}