active-magic-list {
    display: block;
    margin: 30px;
    width: fit-content;
    float: left;
}

active-magic-list > .container {
    padding: 10px 30px;
}

active-magic-list > .container > .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr;
}

active-magic-list > .container > .grid > * {
    align-self: end;
    margin: 1px 2px;
}
active-magic-list > .container > .grid > checkbox {
    margin-bottom: 10px;
}
active-magic-list > .container > .grid > stat-info-button {
    margin-bottom: 6px;
    margin-left: 6px;
}