active-magic-list {
    display: block;
    margin: 30px;
    width: fit-content;
    float: left;
}

active-magic-list > .container {
    padding: 10px 30px;
}

active-magic-list > .container > .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr;
}

active-magic-list > .container > .grid > * {
    align-self: center;
    margin: 1px 2px;
}

active-magic-list .add-magic-input {
    margin-top: 15px;
    border-bottom-style: dashed;
}