avatar-full-block {
    display: block;
    margin: 20px 40px 40px 20px;
    background-image: url('../../content/full-avatar-paper.png');
    background-size: contain;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.371));
    height: 600px;
    width: 330px;
    background-repeat: no-repeat;
    padding: 30px;
}

avatar-full-block droppable-image > .container .image-placeholder {
    display: none;
}

avatar-full-block .image {
    max-width: 343px;
    max-height: 590px;
}