characteristics-block {
    display: block;
    width: fit-content;
    color: #446;
    margin: 30px;
    float: left;
}

characteristics-block > .container {
    padding: 10px 30px;
}

characteristics-block > .container > .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
}

characteristics-block .grid > * {
    align-self: center;
}

characteristics-block .grid .text.left-col {
    justify-self: right;
}

characteristics-block .grid .text{
    justify-self: left;
    margin-left: 3px;
    margin-right: 3px;
}


characteristics-block .grid primary-stat {
    margin: 1px;
}

characteristics-block footer {
    margin-top: 5px;
}