lab-modifications-list {
    display: block;
    margin: 30px;
    width: fit-content;
    min-width: 845px;
    float: left;
}

lab-modifications-list > .container {
    padding: 10px 30px;
    position: relative;
}

lab-modifications-list > .container > .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: 1fr;
}

lab-modifications-list > .container > .grid > * {
    align-self: center;
    margin: 1px 2px;
}

lab-modifications-list .add-item-input {
    margin-top: 15px;
    border-bottom-style: dashed;
    width: 200px;
}

lab-modifications-list .container > .title {
    display: block;
    margin-top: 30px;
}

lab-modifications-list .grid > .name {
    width: 200px;
}

lab-modifications-list .grid > .category {
    width: 100px;
    text-align: center;
}

lab-modifications-list .grid > .description {
    width: 400px;
}

lab-modifications-list .add-item-input.add-modifier-input {
    position: absolute;
    right: 10px;
    top: -15px;
    width: 60px;
    text-align: center;
}

lab-modifications-list .modifier {
    margin: 0 4px;
}

lab-modifications-list .modifier-titles {
    position: absolute;
    right: 3px;
    top: 10px;
}

lab-modifications-list .modifier-title {
    font-size: 9px;
    display: inline-block;
    width: 35px;
    text-align: center;
    font-family: "Eagle Lake", cursive;
    border-bottom: none;
    padding: 0;
    font-weight: unset;
    text-overflow: ellipsis;
    text-indent: 0;
}


lab-modifications-list .modifier-totals {
    position: absolute;
    right: -0;
    bottom: 10px;
}

lab-modifications-list .modifier-total {
    font-size: 16px;
    display: inline-block;
    width: 29px;
    margin: 6px;
    text-align: center;
}

lab-modifications-list .block {
    margin-top: 20px;
    position: relative;
}

lab-modifications-list .last-block .modifier-titles  {
    top: -65px;
}