lab-modifications-list {
    display: block;
    width: 1176px;
}

lab-modifications-list > .container {
    position: relative;
    width: fit-content;
}

lab-modifications-list > .container > .items > .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: 1fr;
}

lab-modifications-list > .container > .items > .grid > * {
    align-self: center;
    margin: 1px 2px;
}

lab-modifications-list .add-item-input-field {
    width: 200px;
}

lab-modifications-list .container > .title {
    display: block;
    margin-top: 30px;
}

lab-modifications-list .grid > .name {
    width: 150px;
    text-overflow: ellipsis;
}

lab-modifications-list .grid > .category {
    width: 100px;
    text-align: center;
}

lab-modifications-list .grid > .description {
    width: 205px;
}

lab-modifications-list .items {
    overflow-y: auto;
    height: 127px;
}

lab-modifications-list .modifier {
    margin: 0 4px;
}

lab-modifications-list .modifier-titles {
    position: absolute;
    left: 553px;
    top: 5px;
}

lab-modifications-list .modifier-title {
    font-size: 9px;
    display: inline-block;
    width: 35px;
    text-align: center;
    font-family: "Eagle Lake", cursive;
    border-bottom: none;
    padding: 0;
    font-weight: unset;
    text-overflow: ellipsis;
    text-indent: 0;
}


lab-modifications-list .modifier-totals {
    position: absolute;
    left: 550px;
    bottom: 10px;
}

lab-modifications-list .modifier-total {
    font-size: 16px;
    display: inline-block;
    width: 29px;
    margin: 6px;
    text-align: center;
}

lab-modifications-list .block {
    margin-top: 5px;
    position: relative;
}

lab-modifications-list .last-block .modifier-titles  {
    top: -65px;
}