lab-stats {
    display: block;
    margin: 0 20px 20px 0;
    width: fit-content;
    float: left;
}

lab-stats > .container {
    padding: 10px 30px;
    position: relative;
}

lab-stats > .container > .grid {
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px;
    grid-auto-rows: auto auto auto;
}

lab-stats > .container > .grid > * {
    align-self: center;
    justify-self: center;
}

lab-stats > .container > .grid > .text {
    font-size: 10px;
    text-align: center;
}

lab-stats .modifier-selector {
    text-align: center;
    width: 90px;
    text-overflow: ellipsis;
}