name-block {
    display: block;
    margin-bottom: 10px;
    width: fit-content;
}

name-block input[type=text] {
    text-align: center;
    border-bottom: none;
    color: darkred;
    font-size: 36px;
}