personality-traits-list {
    display: block;
    margin: 30px;
    width: fit-content;
    float: left;
}

personality-traits-list > .container {
    margin: 0 25px 20px 20px;
}

personality-traits-list .add-item-input {
    margin-top: 15px;
    border-bottom-style: dashed;
}

personality-traits-list primary-stat {
    margin-left: 10px;;
}