research-projects {
    display: block;
    margin: 0 0 20px 0;
    width: 1787px;
    float: left;
}

research-projects > .container {
    position: relative;
    width: 2000px;
}

research-projects .name {
    width: 190px;
}

research-projects .projects {
    overflow-y: auto;
    overflow-x: hidden;
}

research-projects .block {
    text-align: center;
}

research-projects > .container > .projects > .grid {
    display: inline-grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-auto-rows: 1fr;
    margin-right: 20px;
}

research-projects > .container > .projects > .grid > * {
    align-self: center;
    margin: 1px 2px;
}


research-projects .arts, research-projects .prerequisites {
    width: 55px;
    text-align: center;
}

research-projects .material, research-projects .shape {
    width: 150px;
    text-align: center;
}
