research-projects {
    display: block;
    margin: 30px;
    width: 1480px;
    float: left;
}

research-projects > .container {
    padding: 10px 30px;
    position: relative;
}

research-projects .block {
    text-align: center;
}

research-projects .add-item-input {
    margin-top: 15px;
    width: 250px;
    border-bottom-style: dashed;
}

research-projects > .container > .grid {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-auto-rows: 1fr;
}

research-projects > .container > .grid > * {
    align-self: center;
    margin: 1px 2px;
}

research-projects stat-info-button {
    margin-left: 20px !important;
}
research-projects .arts, research-projects .prerequisites {
    width: 50px;
    text-align: center;
}
research-projects .level {
    margin-right: 30px !important;
}

research-projects .material, research-projects .shape {
    width: 150px;
    text-align: center;
}

research-projects .total {
    margin-left: 30px !important;
}