xp-list {
    display: block;
    margin: 0 20px 20px 0;
    width: fit-content;
    float: right;
}

xp-list > .container {
    height: 955px;
    overflow-y: auto;
}

xp-list > .container > .grid {
    display: grid;
    grid-template-columns: 70px 100px auto auto auto auto auto;
    grid-auto-rows: 1fr;
}

xp-list > .container > .grid.past-xp-entry {
    grid-template-columns: 70px 100px auto auto auto auto;
    width: fit-content;
}

xp-list > .container > .grid > * {
    align-self: center;
    margin: 1px 2px;
}

xp-list .description, xp-list .plans {
    width: 370px;
    text-overflow: ellipsis;
}

xp-list .xp {
    width: 450px;
    text-overflow: ellipsis;
}

xp-list .correspondence, xp-list .area-lore  {
    width: 150px;
    text-overflow: ellipsis;
}

xp-list .separator {
    height: 40px;
}

xp-list .center-button-box {
    text-align: center;
}