page-header {
    display: block;
    position: relative;
    z-index: 1;
}

page-header .page-links {
    height: 161px;
    left: 50px;
    bottom: -110px;
    position: absolute;
    width: 100%;
}

page-header .page-link {
    width: 206px;
    height: 100px;
    display: inline-block;
    margin-right: -15px;

    transform: translateY(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

page-header .page-link.active {
    transform: translateY(-20px);
    cursor: default;
}

page-header .page-link:not(.active):hover {
    transform: translateY(-20px);
}

page-header .magic {
    background-image: url('../../content/bookmarks/magic.png');
}
page-header .stats {
    background-image: url('../../content/bookmarks/stats.png');
}
page-header .lab {
    background-image: url('../../content/bookmarks/lab.png');
}
page-header .notes {
    background-image: url('../../content/bookmarks/notes.png');
}
page-header .enchantments {
    background-image: url('../../content/bookmarks/enchantments.png');
}
page-header .description {
    background-image: url('../../content/bookmarks/description.png');
}
page-header .belongings {
    background-image: url('../../content/bookmarks/belongings.png');
}
page-header .progression {
    background-image: url('../../content/bookmarks/progression.png');
}
page-header .settings {
    background-image: url('../../content/bookmarks/settings.png');
}
