<require from="../widgets/name-block"></require>

<div class="grid">
    <div class="page-links">
        <a class="page-link description active" href="/description"></a>
        <a class="page-link stats" href="/stats"></a>
        <a class="page-link magic" href="/magic" if.bind="state.present.character.type == 'magus'"></a>
        <a class="page-link progression" href="/progression"></a>
        <a class="page-link lab" href="/lab" if.bind="state.present.character.type == 'magus'"></a>
        <a class="page-link belongings" href="/belongings"></a>
        <a class="page-link enchantments" href="/enchantments" if.bind="state.present.character.type == 'magus'"></a>
        <a class="page-link notes" href="/notes"></a>
        <a class="page-link settings" href="/settings"></a>
    </div>
</div>